<%-include('./partials/LinksA')-%>
</head>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    input {
        text-align: center;
    }
</style>

<body>
    <%-include('./partials/teacherNavbar')-%>
    <div class="container">

        <h1 style="text-align: center; " class="my-4 ">Mark Attendence </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">RollNo.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mark Attendence</th>
                </tr>
            </thead>
            <tbody>
                <%atnd.forEach(function(item,index){%>
                <tr>
                    <th scope="row"><%=index+1%></th>
                    <td><%=item.fullname%></td>
                    <td><input type="number" name="" id="" placeholder="Enter Atendence"></td>

                </tr>
                <%})%>
            </tbody>
        </table>

        <div class="btn-div" style="text-align: center;">
            <button class="btn btn-secondary"> Submit Attendence</button>
        </div>
        <%-include('./partials/LinksB')-%>
        <%-include('./partials/footer')-%>